<!--The content below is only a placeholder and can be replaced.-->
<app-menu (onBuscaRealizada)="onBuscaRealizada($event)" style="display: inline-block; padding-bottom: 3em;"></app-menu>
<div class="row">
  <div class="col-md-2" style="margin: 2em;">
    <app-menu-lat [items]="categorias" *ngIf="categorias.length"></app-menu-lat>
  </div>
  <div class="col-md-7">
    <div class="row" style="margin: 2em;">
      <app-itens (onCarregarItens)="carregarItens($event)" [itens]="itens" [pageSize]="pageSize" [total]="total"></app-itens>
      <div *ngIf="!itens.length">
        Nenhum resultado encontrado.
      </div>
      <div *ngIf="sugestoes.length">
        Voc&ecirc; n&atilde;o quis dizer:
        <ul id="voceQuisDizer">
          <li *ngFor="let termo of sugestoes"><strong>{{termo}}</strong></li>
        </ul>
        ?
      </div>
    </div>
  </div>
</div>

